@font-face {
    font-family: "ttf";
    src: url("font.ttf");
}

body {
    padding: 15px;
    background-color: #000000;
    color: #ffffff;
    font-family: "ttf";
    min-width: 300px;
    max-width:1500px;
    width: 80%;
    margin: 20px auto;
    border: 3px #ffffff solid;
    border-radius: 10px;
}

h1 {
    margin: 0;
}

code {
    background-color: #333333;
    color: #cccccc;
    border-radius: 3px;
    font-size: large;
}
.date {
    text-align: right;
}
