@font-face {
    font-family: "ttf";
    src: url("font.ttf");
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: "ttf";
    height: 100%;
    margin: 10px auto;
    width: auto;
    min-width: 300px;
    max-width: 700px;
    border-radius: 10px;
}

#changelog {
    margin: 20px 10px;
    padding: 10px;
    border: 3px #ffffff solid;
    border-radius: 10px;
}

code {
    font-family: "ttf";
    background-color: #666666;
    border-radius: 3px;
    padding: 1px;
}

#title {
    text-align: center;
}

#links {
    margin: 0 auto;
    width: 200px;
}
pre {
    font-family: "ttf";
}

#quote {
    margin: 0 auto;
    width: 200px;
}

#player {
    background-color: #000000;
    position: 	fixed;
    border:	5px #ffffff solid;
    display:	inline-block;
    transform: 	translate(-50%, -50%);
    left:	50%;
    bottom:	5px;
    width :  	400px;
    height:  	60px ;
    align-items:center;
}

svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.volume {
	 justify-content: center;
	 align-items: center;
	 margin: 0 15px 0 60px;
}

.volume input[type=range] {
    display: none;
}

.volume .bar-hoverbox {
    padding: 10px 10px;
}

.volume .bar-hoverbox:hover {
    opacity: 1;
    cursor: pointer;
}

.volume .bar {
    background: #000000;
    height: 5px;
    border-radius: 0px;
    overflow: hidden;
    pointer-events: none;
}

.volume .bar .bar-fill {
    background: #fff;
    width: 0%;
    height: 100%;
    background-clip: border-box;
    pointer-events: none;
}

a:link, a:visited, a:hover, a:active {
    color:#bbbbbb;
}

#back {
    text-align: center;
}

#back a:link, #back a:visited, #back a:hover, #back a:active {
    color:#bbbbbb;
    text-decoration: none;
}

.litem {
    padding-left: 10px;
    border-left: 5px solid #bbbbbb;
    border-radius: 5px;
}
