@font-face {
    font-family: "ttf";
    src: url("font.ttf");
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: "ttf";
    height: 100%;
}

#main {
    color: #ffffff;    
    margin: 10px auto;
    width: auto;
    min-width: 300px;
    max-width: 300px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

pre {
    font-family: "ttf";
}

#quote {
    margin: 0 auto;
    width: 200px;
}

#player {
    background-color: #000000;
    position: 	fixed;
    border:	5px #ffffff solid;
    display:	inline-block;
    transform: 	translate(-50%, -50%);
    left:	50%;
    bottom:	5px;
    width :  	400px;
    height:  	60px ;
    align-items:center;
}

svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.volume {
	 justify-content: center;
	 align-items: center;
	 margin: 0 15px 0 60px;
}

.volume input[type=range] {
    display: none;
}

.volume .bar-hoverbox {
    padding: 10px 10px;
}

.volume .bar-hoverbox:hover {
    opacity: 1;
    cursor: pointer;
}

.volume .bar {
    background: #000000;
    height: 5px;
    border-radius: 0px;
    overflow: hidden;
    pointer-events: none;
}

.volume .bar .bar-fill {
    background: #fff;
    width: 0%;
    height: 100%;
    background-clip: border-box;
    pointer-events: none;
}

#links a:link, #links a:visited, #links a:hover, #links a:active {
	color:#bbbbbb;
}
